<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>field</key>
		<string>firstName</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>lastName</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>nickName</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>organization</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>jobTitle</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>phone</string>
		<key>keyboardType</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>email</string>
		<key>keyboardType</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>note</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>address</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>field</key>
		<string>address2</string>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
