<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Street</string>
		<key>name</key>
		<string>Street</string>
		<key>placeholder</key>
		<string>Street</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
	</dict>
	<dict>
		<key>label</key>
		<string>City</string>
		<key>name</key>
		<string>City</string>
		<key>placeholder</key>
		<string>City</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
	</dict>
	<dict>
		<key>label</key>
		<string>State</string>
		<key>name</key>
		<string>State</string>
		<key>placeholder</key>
		<string>State</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
	</dict>
	<dict>
		<key>label</key>
		<string>ZIP Code</string>
		<key>name</key>
		<string>ZIP</string>
		<key>placeholder</key>
		<string>ZIP/Postal Code</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
	</dict>
</array>
</plist>
