<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>CONTACTS</string>
		<key>identifier</key>
		<string>contactsNavigationController</string>
		<key>icon</key>
		<string>112-group.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>GROUPS</string>
		<key>identifier</key>
		<string>groupsNavigationController</string>
		<key>icon</key>
		<string>group-message.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>INBOX</string>
		<key>identifier</key>
		<string>inboxNavigationController</string>
		<key>icon</key>
		<string>21-wrench.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SETTINGS</string>
		<key>identifier</key>
		<string>settingsNavigationController</string>
		<key>icon</key>
		<string>21-wrench.png</string>
	</dict>
</array>
</plist>
