<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Address Book</string>
		<key>identifier</key>
		<string>contactsNavigationController</string>
		<key>icon</key>
		<string>112-group.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Group Messaging</string>
		<key>identifier</key>
		<string>groupsNavigationController</string>
		<key>icon</key>
		<string>group-message.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>My Account</string>
		<key>identifier</key>
		<string>account</string>
		<key>icon</key>
		<string>21-wrench.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Settings</string>
		<key>identifier</key>
		<string>settings</string>
		<key>icon</key>
		<string>21-wrench.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Help &amp; Support</string>
		<key>identifier</key>
		<string>support</string>
		<key>icon</key>
		<string>21-wrench.png</string>
	</dict>
</array>
</plist>
