<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstName</key>
	<dict>
		<key>sortOrder</key>
		<integer>0</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>0</integer>
	</dict>
	<key>lastName</key>
	<dict>
		<key>sortOrder</key>
		<integer>1</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>0</integer>
	</dict>
	<key>nickName</key>
	<dict>
		<key>sortOrder</key>
		<integer>2</integer>
		<key>enabled</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>1</integer>
	</dict>
	<key>phone</key>
	<dict>
		<key>sortOrder</key>
		<integer>3</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>5</integer>
		<key>autocapitalizationType</key>
		<integer>0</integer>
		<key>autocorrectionType</key>
		<integer>1</integer>
	</dict>
	<key>mobilePhone</key>
	<dict>
		<key>sortOrder</key>
		<integer>4</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>5</integer>
		<key>autocapitalizationType</key>
		<integer>0</integer>
		<key>autocorrectionType</key>
		<integer>1</integer>
	</dict>
	<key>email</key>
	<dict>
		<key>sortOrder</key>
		<integer>5</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>7</integer>
		<key>autocapitalizationType</key>
		<integer>0</integer>
		<key>autocorrectionType</key>
		<integer>1</integer>
	</dict>
	<key>jobTitle</key>
	<dict>
		<key>sortOrder</key>
		<integer>6</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>2</integer>
	</dict>
	<key>organization</key>
	<dict>
		<key>sortOrder</key>
		<integer>7</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>1</integer>
	</dict>
	<key>note</key>
	<dict>
		<key>sortOrder</key>
		<integer>8</integer>
		<key>enabled</key>
		<false/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>2</integer>
		<key>autocorrectionType</key>
		<integer>2</integer>
	</dict>
	<key>address</key>
	<dict>
		<key>sortOrder</key>
		<integer>9</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>0</integer>
	</dict>
	<key>address2</key>
	<dict>
		<key>sortOrder</key>
		<integer>10</integer>
		<key>enabled</key>
		<true/>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>autocapitalizationType</key>
		<integer>1</integer>
		<key>autocorrectionType</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
