<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>industry_id</key>
		<integer>1</integer>
		<key>i18n_key</key>
		<string>ACCOUNTING_SERVICES</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>2</integer>
		<key>i18n_key</key>
		<string>BEAUTY_SERVICES</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>3</integer>
		<key>i18n_key</key>
		<string>CREATIVE_DESIGN</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>4</integer>
		<key>i18n_key</key>
		<string>ESCORT_SERVICES</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>5</integer>
		<key>i18n_key</key>
        <string>EVENT_ENTERTAINMENT</string>
    </dict>
    <dict>
		<key>industry_id</key>
		<integer>6</integer>
		<key>i18n_key</key>
		<string>HEALTH_FITNESS</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>7</integer>
		<key>i18n_key</key>
		<string>LEGAL_SERVICES</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>8</integer>
		<key>i18n_key</key>
		<string>FINANCIAL_SERVICES</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>9</integer>
		<key>i18n_key</key>
		<string>PHYSICAL_THERAPY</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>10</integer>
		<key>i18n_key</key>
		<string>SOFTWARE_CONSULTANT</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>11</integer>
		<key>i18n_key</key>
		<string>REAL_ESTATE</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>12</integer>
		<key>i18n_key</key>
		<string>WHOLESALE_DISTRIBUTION</string>
	</dict>
    <dict>
		<key>industry_id</key>
		<integer>13</integer>
		<key>i18n_key</key>
		<string>OTHER</string>
	</dict>
</array>
</plist>
