<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>industry_id</key>
		<integer>1</integer>
		<key>industry_name</key>
		<string>Accounting Services</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>2</integer>
		<key>industry_name</key>
		<string>Advertising/Marketing/PR</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>3</integer>
		<key>industry_name</key>
		<string>Architecture/Engineering</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>4</integer>
		<key>industry_name</key>
		<string>Business Services</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>5</integer>
		<key>industry_name</key>
		<string>Consultant</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>6</integer>
		<key>industry_name</key>
		<string>E-commerce</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>7</integer>
		<key>industry_name</key>
		<string>Construction/Contracting</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>8</integer>
		<key>industry_name</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>9</integer>
		<key>industry_name</key>
		<string>Financial Services</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>10</integer>
		<key>industry_name</key>
		<string>Graphic Design</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>11</integer>
		<key>industry_name</key>
		<string>Government</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>12</integer>
		<key>industry_name</key>
		<string>Healthcare</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>13</integer>
		<key>industry_name</key>
		<string>Legal Services</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>14</integer>
		<key>industry_name</key>
		<string>Manufacturing</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>15</integer>
		<key>industry_name</key>
		<string>Nonprofit</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>16</integer>
		<key>industry_name</key>
		<string>Real Estate</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>17</integer>
		<key>industry_name</key>
		<string>Restaurant/Hospitality</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>18</integer>
		<key>industry_name</key>
		<string>Retail</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>19</integer>
		<key>industry_name</key>
		<string>Software/Technology</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>20</integer>
		<key>industry_name</key>
		<string>Wholesale/Distribution</string>
	</dict>
	<dict>
		<key>industry_id</key>
		<integer>21</integer>
		<key>industry_name</key>
		<string>Other</string>
	</dict>
</array>
</plist>
