<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>labelKey</key>
		<string>CONTACT_NAME</string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>labelKey</key>
		<string>PHONE_OR_EMAIL</string>
		<key>tag</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>labelKey</key>
		<string>POTENTIAL</string>
		<key>tag</key>
		<string>3</string>
	</dict>
	<dict>
		<key>labelKey</key>
		<string>NOTES</string>
		<key>tag</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
